@import "~@angular/material/theming";
@include mat-core();

$f1-primary: mat-palette($mat-red, 800);
$f1-accent: mat-palette($mat-blue-grey);
$f1-warn: mat-palette($mat-deep-orange);
$primary: mat-color($f1-primary);
$accent: mat-color($f1-accent);
$warn: mat-color($f1-warn);

$f1-theme: mat-dark-theme($f1-primary, $f1-accent, $f1-warn);

@include angular-material-theme($f1-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
